[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/Snipmate"]
	path = bundle/Snipmate
	url = https://github.com/msanders/snipmate.vim.git
